body {
  max-width: 1440px;
  max-height: 1366px;
  background: #2A2731;
  border-radius: 10px; }

#center {
  max-width: 802px;
  max-height: 1366px;
  margin-left: 142px;
  background: #17151C;
  border-radius: 10px; }

header {
  width: 100%;
  box-sizing: border-box;
  left: 0px;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 12px 24px; }

.logo {
  margin-top: 12px;
  right: 541px;
  top: 0px;
  bottom: 0px; }

#top-menu {
  margin-top: 24px;
  margin-right: 28px; }

#top-menu a {
  padding: 12px 24px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #F2F2F2; }

#top-menu a:hover {
  background: #133774;
  border-radius: 99px;
  line-height: 24px; }

.IB {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.44px; }

.flights {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.44px; }

.ToDo {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.44px; }

.Meeting {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.44px; }

.Settings {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.44px; }

table {
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center; }

table th {
  left: 24px;
  right: 264px;
  top: 60px;
  bottom: 240px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  justify-content: space-between;
  color: #EEECF1; }

table tr {
  margin-top: 60px;
  padding: 10px; }

table td {
  max-width: 272px;
  max-height: 200px;
  left: 24px;
  top: 92px;
  padding: 10px; }

table * {
  border: 1px solid grey;
  border: none; }

.PAD {
  width: 228px;
  height: 48px;
  margin-left: 24px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  align-items: center;
  letter-spacing: -0.56px;
  color: #EEECF1;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.48);
  justify-content: space-between; }

.block2 {
  display: flex;
  justify-content: space-between;
  align-items: center; }

#tcontrols {
  width: 476px;
  padding: 2px;
  margin-left: 50px;
  margin-right: 24px;
  background: #000000;
  border-radius: 10px;
  text-align: center; }

#tcontrols a {
  padding: 3px 21px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
  color: #7A7585; }

#tcontrols a:hover {
  color: white;
  background: #2A2731;
  border-radius: 10px;
  line-height: 24px; }

.Tickets {
  margin-top: 13px; }

#date-selector {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 35px;
  background: #000000;
  border-radius: 10px; }

.segmented {
  width: 224px;
  height: 32px;
  margin-top: 40px;
  display: flex;
  align-items: center; }

.button1 {
  height: 24px;
  left: 12px;
  right: 12.4px;
  top: calc(50% - 24px/2);
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  color: #7A7585; }

.calendars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 79px; }

.calendar1 {
  max-width: 320px;
  max-height: 316px;
  border-radius: 10px; }

.daysofweek {
  max-width: 272px;
  max-height: 16px; }

/*# sourceMappingURL=style.css.map */
