body {
  background: #2A2731;
  border-radius: 10px; }

#center {
  max-width: 802px;
  max-height: 1366px;
  margin-left: 142px;
  background: #17151C;
  border-radius: 10px; }

header {
  width: 100%;
  box-sizing: border-box;
  left: 0px;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 12px 24px; }

main {
  width: 100%;
  box-sizing: border-box;
  padding: 0 24px; }

.logo {
  margin-top: 12px;
  right: 541px;
  top: 0px;
  bottom: 0px; }

.toggle {
  display: none; }

#top-menu {
  margin-top: 24px;
  margin-right: 28px; }

#top-menu a {
  padding: 12px 24px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #F2F2F2; }

#top-menu a:hover {
  background: #133774;
  border-radius: 99px;
  line-height: 24px; }

.IB {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.44px; }

.flights {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.44px; }

.ToDo {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.44px; }

.Meeting {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.44px; }

.Settings {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.44px; }

.block2 {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center; }

table {
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center; }

table th {
  left: 24px;
  right: 264px;
  top: 60px;
  bottom: 240px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  justify-content: space-between;
  color: #EEECF1; }

table tr {
  margin-top: 60px;
  padding: 10px; }

table td {
  max-width: 272px;
  max-height: 200px;
  left: 24px;
  top: 92px;
  padding: 10px; }

table * {
  border: 1px solid grey;
  border: none; }

.PAD {
  width: 228px;
  height: 48px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  align-items: center;
  letter-spacing: -0.56px;
  color: #EEECF1;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.48);
  justify-content: space-between; }

#tcontrols {
  padding: 9px 2px;
  background: #000000;
  border-radius: 10px;
  text-align: center; }

#tcontrols a {
  padding: 9px 22px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
  color: #7A7585; }

#tcontrols a:hover {
  color: white;
  background: #2A2731;
  border-radius: 10px;
  line-height: 24px; }

.Tickets {
  margin-top: 13px; }

#date-selector {
  box-sizing: border-box;
  background: #000000;
  border-radius: 10px; }

.segmented {
  width: 224px;
  height: 32px;
  margin-top: 40px;
  display: flex;
  align-items: center; }

.buttons {
  background: #3C3844;
  border-radius: 99px;
  display: inline-flex;
  margin-top: 40px;
  margin-left: 261px; }

.buttons a {
  padding: 8px 12px;
  text-decoration: none; }

.buttons a:hover {
  color: white;
  background: #1F4921;
  border: 2px solid #2B662E;
  box-sizing: border-box;
  border-radius: 99px;
  padding: 4px 12px; }

.button1 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: #7A7585; }

.button2 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: #7A7585; }

.calendars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px; }

.calendar1 {
  max-width: 320px;
  max-height: 316px;
  border-radius: 10px; }

.daysofweek {
  max-width: 272px;
  max-height: 16px; }

@media screen and (max-width: 800px) {
  #center {
    background: #2A2731;
    border-radius: 10px;
    margin: auto; } }
@media screen and (max-width: 800px) {
  #tcontrols a:hover {
    background: #000000;
    border-radius: 10px; } }
@media screen and (max-width: 800px) {
  header {
    width: 100%;
    margin-top: 0;
    margin-bottom: 52px; }

  #top-menu {
    display: none; } }
@media screen and (max-width: 800px) {
  .toggle {
    display: flex;
    align-items: center; } }
@media screen and (max-width: 800px) {
  main {
    width: 100%;
    margin-top: 0;
    margin-bottom: 52px; }

  .block2 {
    flex-direction: column-reverse; }

  .PAD {
    align-self: flex-start; }

  #tcontrols {
    background: #17151C;
    border-radius: 10px; }

  #date-selector {
    margin: auto; }

  .buttons {
    display: none; }

  .calendars {
    justify-content: center; }

  .calendar1 {
    display: flex; }

  .MMay::before {
    content: url("../images/left.svg");
    color: #87C289;
    vertical-align: middle;
    margin-right: 6px; }

  .MMay::after {
    content: url("../images/right.svg");
    color: #87C289;
    vertical-align: middle;
    margin-left: 6px; }

  .calendar2 {
    display: none; } }

/*# sourceMappingURL=style.css.map */
